
body {
	background-color: #b3e5fc;
}

.wrapper {
	width: 611px;
	height: 400px;
    margin: 80px auto 0;
}
	.container {
		float: right;
		width: 600px;
		height: 400px;
		background-color: #fff;

    }
		.part {
			float: left;
            height: 100%;
        }
			.card-details {
				padding: 48px 40px 0;
                width: 60%;
            }
				h1 {
					background-color: #00b0ff;
					color: white;
					font-family: 'Montserrat', sans-serif;
					font-size: 12px;
					text-transform: uppercase;
					padding: 14px 0 10px 49px;
					letter-spacing: 1px;
					margin-left: -52px;
					width: 330px;
				}
			
			.bg {
				width: 40%;
				background-image: url("https://s13.postimg.org/d8emjhccn/image.jpg");
        		background-size: 121%;
        		background-repeat: no-repeat;
				overflow: hidden;

			}
		
		form {
            font-family: 'Work Sans', sans-serif;
        }
			.group {
				display: block;
				width: 100%;
				float: left;
				position: relative;
                margin-bottom: 25px;
            }
				label {
					font-size: 12px;
					float: left;
					width: 100%;
					display: block;
					margin-bottom: 5px;
				}
				input {
					float: left;
                    width: 100%;
                    height: 30px;
					font-size: 18px;
					font-family: 'Work Sans', sans-serif;
					border: 0;
					color: #263238;
                    border-bottom: 1px solid #d9d9d9;
                }
				
					.focus {
						outline: none;
                        border-bottom-color: #00b0ff;

					}
				
			
			.card-number {
                border-bottom: 1px solid #d9d9d9;
            }
				.first-of-type {
					margin-top: 32px;
				}
				input {
					width: 43px;
                    border-bottom: 0;
				}
                .focused {
                    border-bottom-color: #00b0ff;
                }
			
			.card-expiry {
                border-bottom: 0;
            }
				.input-item {
                    float: left;
                }
					.expiry {
                        width: 200px;
                    }
						input:last-of-type {
							margin-left: 30px;
						}
					
					.csv {
						width: 80px;
                        position: relative;
                    }
						a {
							display: block;
							position: absolute;
							top: 0;
							right: 0;
							font-size: 12px;
							text-decoration: none;
                            color: #00b0ff;
                        }
                            .hover {
                                color: #263238;
                            }
						
					
					label {
						width: 100%;
					}
					input {
						border-bottom: 1px solid #d9d9d9;
                        padding-bottom: 8px;
                    }
						.month {
							width: 60px;
						}
						.year {
							width: 79px;
						}
						.csv {
							width: 79px;
						}
						.focus {
							border-bottom: 1px solid #00b0ff;
						}
					
				
			
			.submit-group {
				width: 100%;
				float: left;
				position: relative;
			}
			.submit {
				text-transform: uppercase;
				position: relative;
				border: none;
				background-color: transparent;
				font-size: 12px;
				line-height: 21px;
    			letter-spacing: 1.4px;
				text-align: left;
				color: #263238;
				margin-left: 24px;
                cursor: pointer;
            }
                .hover {
                    text-decoration: underline;
                }
				.focus {
					outline: none;
				}
			
			.arrow {
				position: absolute;
				top: -2px;
                left: -1px;
            }
				.before {
					content: '';
					width: 15px;
					height: 15px;
					background-image: url('https://s21.postimg.org/lgxvam5df/arrow.png');
					position: absolute;
					top: 4px;
					left: 0;
                   
				}
              
			
		
	

.credits {
    display: block;
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #263238;
    font-size: 12px;
    margin: 0 10px 10px 0;
}
    a {
      
        color: inherit;
        font-weight: 700;
        text-decoration: none;
    }
