
<h2>אילוף גורים</h2>

<br>
<br>
<div class="flex">
<img src=".\assets\images\dogTraining.png" class="image" width="100px" height="100px">
&nbsp;&nbsp;&nbsp;
<h2>
    אילוף גורים
</h2>
</div>
<br>
<br>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="boxSize"> 
    <iframe class="videos"
    src="https://www.youtube.com/embed/jFMA5ggFsXU"
    frameborder="0"
    webkitallowfullscreen
    mozallowfullscreen
    allowfullscreen
     ></iframe>
    </mat-grid-tile>

    <mat-grid-tile class="boxSize">
    <iframe class="videos"
     src="https://www.youtube.com/embed/---jcia5ufM" 
     frameborder="0"
     webkitallowfullscreen
     mozallowfullscreen
     allowfullscreen
    ></iframe>
    </mat-grid-tile>
<br>
<br>
<br>
<br>
<br>
    <mat-grid-tile class="boxSize">
    <iframe class="videos"
     src="https://www.youtube.com/embed/OsFIizeOOC0" 
     frameborder="0"
     webkitallowfullscreen
     mozallowfullscreen
     allowfullscreen
    ></iframe>
  </mat-grid-tile>

    <mat-grid-tile class="boxSize">
    <iframe class="videos"
     src="https://www.youtube.com/embed/-_5xd0pSy28" 
     frameborder="0"
     webkitallowfullscreen
     mozallowfullscreen
     allowfullscreen
    ></iframe>
    </mat-grid-tile>


  </mat-grid-list>


