
<div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="../category1">
      <div class="image">
        <img src=".\assets\images\dogTraining.png" class="image" width="150px" height="150px">
      </div>
      <br>
      <div class="name">
        <h4>אילוף גורים</h4>
      </div>
    </a>
    <a href="../category2">
      <div class="image">
        <img src=".\assets\images\puppy.png" class="image" width="150px" height="150px">
      </div>
      <br>
      <div class="name">
        <h4> אוכל וכלבים</h4>
      </div>
    </a> 
    
    <a href="../category3">
      <div class="image">
        <img src=".\assets\images\chooseDog.jpg" class="image" width="150px" height="150px">
      </div>    
      <br>
      <div class="name">
        <h4>בחירת הכלב המתאים</h4>
      </div>
    </a>
    <a href="../category4">
      <div class="image">
        <img src=".\assets\images\funnyDogs.jpg" class="image" width="150px" height="150px">
      </div>    
      <br>
      <div class="name">
        <h4>פספוסי כלבים</h4>
      </div>
    </a>
