div{
     height: max-content; 
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}
a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

h1{
    text-align: center;
    font-size: 45px;
}
h4{
    margin:auto;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.name{
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}