<h1>היי רוני הורוביץ</h1>
<h1>בחר את הפעולה שברצונך לבצע</h1>

<div>
  <br>
  <br>
  <a href="#chat">
 <div>
     <img src=".\assets\images\4.png" class="image" width="200px" height="200px">
     <br>
 </div>
 <!-- <h2>צ'אט</h2> -->
</a>
<a href="#groupRegister">
<div>
     <img src=".\assets\images\1.png" class="image" width="200px" height="200px">
     <br>
</div>
<!-- <h2>הצטרף לקבוצה</h2> -->
</a> 

<a href="#video">
   <div>
   <img src=".\assets\images\3.png" class="image" width="200px" height="200px">
   <br>
   </div>
 <!-- <h2>צ'אט</h2> -->
</a>
<a href="#information">
<div>
      <img src=".\assets\images\2.png" class="image" width="200px" height="200px">
      <br>
</div>
<!-- <h2>מידע</h2> -->
</a>
<a href="#testYourself">
<div>
      <img src=".\assets\images\5.png" class="image" width="200px" height="200px">
      <br>
</div>
<!-- <h2>בחן את עצמך</h2> -->
</a>
</div>
