 div{
    /* width: max-content; */
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}
a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

h2{
    text-align: center;
    font-size: 33px;
}

h1{
    text-align: center;
    font-size: 45px;
}

img{
    border-radius: 70%; 
}