.videos{
    width: 680px;
    height: 370px;
    left: 0px;  
}

.boxSize{
    width: 732px !important;
    height: 45px !important;
    background-color: rgb(64, 78, 78);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img{
    border-radius: 70%; 
}

h2{
    display: inline;
    margin-top: 31px;
    
}

.flex{
    display: flex;
}