<br>
<br>
<div class="flex">
<img src=".\assets\images\puppy.png" class="image" width="100px" height="100px">
&nbsp;&nbsp;&nbsp;
<h2>
    אוכל וכלבים
</h2>
</div>
<br>
<br>


<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile class="boxSize">
    <iframe class="videos"
    src="https://www.youtube.com/embed/qwKMf_5pU_Y"
    frameborder="0"
    webkitallowfullscreen
    mozallowfullscreen
    allowfullscreen
  ></iframe>
    
  </mat-grid-tile>

  <mat-grid-tile class="boxSize">
    <iframe class="videos"
     src="https://www.youtube.com/embed/wRbBilMp96w" 
     frameborder="0"
     webkitallowfullscreen
     mozallowfullscreen
     allowfullscreen
    ></iframe>
  </mat-grid-tile>
  <br>
  <br>
  <br>
  <br>
  <br>
  <mat-grid-tile class="boxSize">
    <iframe class="videos"
     src="https://www.youtube.com/embed/pxzU-mtx8og" 
     frameborder="0"
     webkitallowfullscreen
     mozallowfullscreen
     allowfullscreen
    ></iframe>

  </mat-grid-tile>

  <mat-grid-tile class="boxSize">
    <iframe class="videos"
     src="https://www.youtube.com/embed/x-JZhEnZrmY" 
     frameborder="0"
     webkitallowfullscreen
     mozallowfullscreen
     allowfullscreen
    ></iframe>

  </mat-grid-tile>
</mat-grid-list>






