
<div class="example-container">

  <mat-card class="mainCard">
      <h3 style="color:rgba(33, 49, 49, 0.678)">הרשמה לקבוצה</h3>
  <mat-form-field style="text-align:right">
    <input matInput placeholder="שם הכלב" >
  </mat-form-field>
   <br>
  <mat-form-field style="text-align:right">
    <input matInput placeholder="גיל" type="number">
  </mat-form-field>
  <br>
  <mat-form-field style="text-align:right">
    <mat-select placeholder="סוג הכלב" [(value)]="dog" >
      <mat-option *ngFor="let dog of dogs" [value]="dog">
        {{dog}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field style="text-align:right">
    <mat-select placeholder="בחר קבוצה" [(value)]="group" >
      <mat-option *ngFor="let group of groups" [value]="group">
        {{group}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-radio-group>
  <h4 style="color:rgba(33, 49, 49, 0.678)">מין</h4>
    <mat-radio-button  value="1"> &nbsp;&nbsp;זכר</mat-radio-button>
    <br>
    <br>
    <mat-radio-button  value="2">&nbsp;&nbsp;נקבה</mat-radio-button>
  </mat-radio-group>

<br>

  <mat-radio-group>
    <h4 style="color:rgba(33, 49, 49, 0.678)">מצב הכלב</h4>
    <mat-radio-button  value="1">&nbsp;&nbsp;מסורס</mat-radio-button>
    <br>
    <br>
    <mat-radio-button  value="2">&nbsp;&nbsp;מעוקר</mat-radio-button>
  </mat-radio-group>

  <!-- <div>
    <mat-form-field class="example-full-width">
        <input [(ngModel)]= "text"  matInput placeholder="שלח" >
        <mat-hint>שלח</mat-hint>
      </mat-form-field>
      <button mat-raised-button (click) = "register()">שלח</button>
      </div> -->
      <br>
      <br>
      <br>
      <button  mat-stroked-button color="primary" (click)="groupRegister()" class="myButton">הירשם</button>
    </mat-card>
  
</div>

<img src=".\assets\images\dog.jpg" class="image" width="700px" height="500px">